/* GLOBAL */
body {
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #0052d4, #65c7f7, #9cecfb);
  background: linear-gradient(45deg, #0052d4, #65c7f7, #9cecfb);
  background-attachment: fixed;
  height: 100vh;
  font-family: "Anton", sans-serif;
  padding-top: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: "Special Elite", cursive;
  font-size: 4rem;
  padding-top: 30px;
}

h3 {
  letter-spacing: 1px;
}

ul {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
}

li {
  font-family: "Special Elite", cursive;
  font-size: 1.4rem;
  display: inline-block;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 5px;
  margin-right: 2rem;
  color: rgb(23, 23, 94);
  border-radius: 5px;
  transition: all 0.4s;
}

li:hover {
  color: rgb(71, 132, 160);
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgb(18, 66, 112);
  transform: translateY(-3px);
}

/* BOOTSTRAP CLASSES */
.jumbotron {
  background-color: #b0ddf356;
  border: 5px rgb(217, 222, 226) solid;
  box-shadow: 0 0.5rem 2rem rgb(18, 66, 112);
  padding: 1rem 2rem;
}

/* TITLE CARD */
.title-card {
  padding-top: 20px;
}

#start,
#restart {
  cursor: pointer;
  font-family: "Special Elite", cursive;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 5px;
  color: rgb(23, 23, 94);
  border-radius: 5px;
  transition: all 0.4s;
}

#start {
  float: left;
  margin-top: -70px;
}

#restart {
  float: right;
  margin-top: -70px;
}

#start:hover,
#restart:hover {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgb(70, 126, 179);
  transform: translateY(-3px);
}

#start:hover {
  color: rgb(71, 160, 90);
}

#restart:hover {
  color: rgb(190, 66, 66);
}

/* QUESTION BOX */
#timer-label,
#correct-label,
#wrong-label {
  z-index: 10;
  padding: 1rem;
  border-radius: 5px;
  display: block;
  padding-bottom: 2rem;
}

#correct-label,
#wrong-label {
  font-size: 2.5rem;
}

.question-box {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.score-box {
  width: 17%;
  position: fixed;
}

.correct {
  color: rgb(183, 212, 240);
  background-color: rgb(71, 160, 90);
}

.incorrect {
  color: rgb(183, 212, 240);
  background-color: rgb(190, 66, 66);
}

.end-game {
  color: gray;
}

/* RESUTLS BOX */

.results-box {
  display: none;
  margin: 0 auto;
}

.total-h4 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
